/* header */

.header {
  color: var(--white);
  font-family: 'Raleway', sans-serif;

  .hero {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
      url('../../img/header\ img.jpg') no-repeat center center / cover;

    .hero-content {
      max-width: 500px;

      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color: var(--white);
      }

      .btn {
        padding: 0.8rem 1.6rem;
        background-color: var(--primary);
        border: none;
        font-weight: bold;
        transition: background 0.3s;

        &:hover {
          color: var(--white);
          background-color: var(--background);
        }
      }
    }

    .hero-image {
      width: 400px;
      height: auto;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  /* Responsive */
  @media screen and (max-width: 768px) {


    .hero {
      flex-direction: column;
      text-align: center;

      .hero-image {
        margin-top: 2rem;
        width: 80%;
      }
    }
  }
}